<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Weather App | {{title}}</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<h1>Hello From {{title}}</h1>
<img src="images/mohammedelzanaty.jpg" alt="">
<p>Created By: {{name}}</p>
<script src="js/app.js"></script>
</body>
</html>
