{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    [
      "@emotion/babel-preset-css-prop"
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "emotion",
      {
        "sourceMap": false
      }
    ],
    "babel-plugin-syntax-dynamic-import"
  ]
}