#header{
    min-height: 50px;
    color: #ffffff;
    background: #10384e;
}

#branding h1{
    color: #ffffff;
}

a:link,
a:visited{
    color: #10384e;
}

div.breadcrumbs{
    background: #30caa0;
    color: #10384e;
}

div.breadcrumbs a{
    color: #333;
}

.module h2, .module caption, .inline-group h2{
    background: #30caa0;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: #10384e;
    color: #ffffff;
}