extends ../layout/index

block content
  #speakerList.container
    .row
      .col-sm-8
        article.speakerslist
          .container
            .row
              h1.article-title Hello Spearks