<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
</head>

<body>

<%- include('../partials/navigation') %>

<main class="container">
    <h1 class="text-capitalize">Page Not Found</h1>
</main>

<footer class="container py-5">
    <%- include('../partials/footer') %>
</footer>
</body>
</html>
