<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
</head>

<body>

<%- include('../partials/navigation') %>

<main class="container">
    <div class="row">
        <div class="col-12 col-md-8 m-auto">
            <h3 class="text-capitalize">Add Product</h3>
            <form action="/admin/add-product" method="POST">
                <div class="form-group">
                    <label for="title">title</label>
                    <input type="text" class="form-control" name="title" id="title" aria-describedby="title">
                </div>
                <div class="form-group">
                    <label for="body">body</label>
                    <input type="text" class="form-control" name="body"  id="body" aria-describedby="body">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</main>

<footer class="container py-5">
    <%- include('../partials/footer') %>
</footer>
</body>
</html>
