@import "./reset.css";
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  width: 1014px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  margin-bottom: 50px;

  h4 {
    font-size: 3rem;
    text-transform: uppercase;
  }
}

.text {
  font-size: 20px;
  letter-spacing: 1px;
  border: 3px solid teal;
  position: relative;
  padding: 10px;
  margin-bottom: 30px;

  .tag {
    position: absolute;
    left: -10px;
    top: -20px;
    background: grey;
    z-index: 1;
    padding: 5px;
  }

  &:first-child {
    background: teal;
    color: white;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      color: black;
      background-color: transparent;
    }
  }
}

.card {
  width: 100%;
  height: 300px;
  border: 1px solid seashell;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16);
  margin: 20px 0;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.box {
  border: 1px solid black;
  color: white;
}

.box-1 {
  background-color: blue;
  height: 150px;
  width: 300px;
}

.box-2 {
  background-color: red;
  height: 100px;
  width: 300px;
}

.box-3 {
  background-color: green;
  height: 200px;
  width: 100px;
}

.card {
  .floated .box {
    float: left;
  }

  .flexed {
    display: flex;
  }
}

.dog-container {
  display: flex;
  flex-wrap: wrap;

  img {
    width: 120px;
    height: 120px;
    border: 1px solid dodgerblue;
    border-radius: 2px;
    margin: 5px;
  }
}