{% extends 'layouts/main.html' %}
{% block title %}Edit Venue{% endblock %}
{% block content %}
    <div class="form-wrapper">
        <form class="form" method="post" action="/venues/{{ venue.id }}/edit">
            {{ form.hidden_tag() }}
            <h3 class="form-heading">Edit venue <em>{{ venue.name }}</em> <a href="{{ url_for('index') }}"
                                                                             title="Back to homepage"><i
                    class="fa fa-home pull-right"></i></a></h3>
            <div class="form-group">
                <label for="name">Name</label>
                {{ form.name(class_ = 'form-control',id="name", autofocus = true) }}
                {% if form.name.errors %}
                    <ul class="errors">
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label>City & State</label>
                <div class="form-inline">
                    <div class="form-group">
                        {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
                        {% if form.city.errors %}
                            <ul class="errors">
                                {% for error in form.city.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
                        {% if form.state.errors %}
                            <ul class="errors">
                                {% for error in form.state.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                {{ form.address(class_ = 'form-control',id="address", autofocus = true) }}
                {% if form.address.errors %}
                    <ul class="errors">
                        {% for error in form.address.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                {{ form.phone(class_ = 'form-control',id="phone", placeholder='xxx-xxx-xxxx', autofocus = true) }}
                {% if form.phone.errors %}
                    <ul class="errors">
                        {% for error in form.phone.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="genres">Genres</label>
                <small>Ctrl+Click to select multiple</small>
                {{ form.genres(class_ = 'form-control',id="genres", placeholder='Genres, separated by commas', autofocus = true) }}
                {% if form.genres.errors %}
                    <ul class="errors">
                        {% for error in form.genres.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="facebook">Facebook Link</label>
                {{ form.facebook_link(class_ = 'form-control',id="facebook",type="url", placeholder='http://', autofocus = true) }}
                {% if form.facebook_link.errors %}
                    <ul class="errors">
                        {% for error in form.facebook_link.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="website">Website</label>
                {{ form.website(class_ = 'form-control',id="website",type="url", placeholder='http://', autofocus = true) }}
                {% if form.website.errors %}
                    <ul class="errors">
                        {% for error in form.website.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="image-link">Image Link</label>
                {{ form.image_link(class_ = 'form-control', type="url" ,id="image-link", placeholder='http://', autofocus = true) }}
                {% if form.image_link.errors %}
                    <ul class="errors">
                        {% for error in form.image_link.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-check">
                <label class="form-check-label" for="seeking-talent">Seeking Talent</label>
                {{ form.seeking_talent(class_ = 'form-check-input',id="seeking-talent", type="checkbox",checked=true, autofocus = true) }}
                {% if form.seeking_talent.errors %}
                    <ul class="errors">
                        {% for error in form.seeking_talent.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="seeking-desription">Seeking Description</label>
                {{ form.seeking_description(class_ = 'form-control',id="seeking-description", rows='3', placeholder='Not currently seeking performance venues', autofocus = true) }}
                {% if form.seeking_description.errors %}
                    <ul class="errors">
                        {% for error in form.seeking_description.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <input type="submit" value="Edit Venue" class="btn btn-primary btn-lg btn-block">
        </form>
    </div>
{% endblock %}