@import '../base/settings';

.widget {
  background: $light-blue;
  margin-bottom: $xl-size;

  &__message {
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid lighten($light-blue, 10%);
  }

  &__option {
    display: flex;
    justify-content: space-between;
    padding: $l-size $m-size;
    color: $off-white;
    border-bottom: 1px solid lighten($light-blue, 10%);
    &__text {
      color: white;
      font-weight: 500;
      font-size: 2rem;
      margin: 0;
    }
  }
}

.widget-header {
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin: 0;
    font-weight: bold;
  }
}
